<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CMPT 109: Fluency in Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .info {
          margin-left: 15px;
      }
    </style>
    <link href="components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Add your own favicon -->
    <link rel="shortcut icon" href="favicon.png">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">CMPT 109: Fluency in Technology</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Course Resources</li>
                  <li><a href="http://blackboard.montclair.edu"><i class="icon-bold"></i> Blackboard</a></li>
                  <li><a href="http://myitlab.com"><i class="icon-book"></i> My IT Lab</a></li>
                  <li><a href="http://studentwebspace.appspot.com"><i class="icon-folder-open"></i> Student Webspace</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Other Resources</li>
                  <li><a href="blog/"><i class="icon-comment"></i> Instructor's Blog</a></li>
                </ul>
            </li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MSU Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://cs.montclair.edu"><i class="icon-star"></i> CS Department</a></li>
                    <li><a href="http://webmail.montclair.edu"><i class="icon-envelope"></i> MSU Webmail</a></li>
                    <li><a href="http://wfs.montclair.edu"><i class="icon-briefcase"></i> WESS</a></li>
                    <li><a href="https://www.montclair.edu/about-montclair/academic-calendar/"><i class="icon-calendar"></i> Academic Calendar</a></li>
                </ul>
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        <%= yield %>

    </div>

      <hr>

      <footer>
        <p>&copy; Montclair State University 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
