<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CSIT 100: Fluency in Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/~maciakl/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .info {
          margin-left: 15px;
      }
    </style>
    <link href="/~maciakl/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Add your own favicon -->
    <link rel="shortcut icon" href="favicon.png">

  </head>

  <body>

    {% include nav.html %}

    <div class="container">

        {{ content }}

      <hr>

      <footer>
            <p>&copy; Montclair State University 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/~maciakl/components/jquery/jquery.min.js"></script>
    <script src="/~maciakl/components/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
